.regis-content{
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgb(216, 216, 216);
}

input.regis-input{
    border:0;
    border-bottom: 1px solid #dedede;
    border-radius: 0;
    box-shadow:none!important;
    background-color: #f7f9fc;
}
input.regis-input:focus{
    border:0;
    border-bottom: 1px solid #0aaa4f;
    border-radius: 0;
}
input.regis-input::placeholder{
    font-size: 20px;
}

.regis-btn{
    display: inline-block;
    border: 4px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    font-family: Arial;
    width: auto;
    height: auto;
    font-size: 24px;
    padding: 6px 40px;
    box-shadow: inset 0px 0px 10px 0 #FFFFFF, inset 0 -1px 0 0 #056839, inset 0 0 0 1px #056839, 2px 2px 4px 0 #8F8F8F;
    -moz-box-shadow: inset 0px 0px 10px 0 #FFFFFF,inset 0 -1px 0 0 #056839,inset 0 0 0 1px #056839,2px 2px 4px 0 #8F8F8F;
    -webkit-box-shadow: inset 0px 0px 10px 0 #FFFFFF, inset 0 -1px 0 0 #056839, inset 0 0 0 1px #056839, 2px 2px 4px 0 #8F8F8F;
    background-image: linear-gradient(to top, #056839, #056839);
    background-color: #056839;
}