
.fix-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: #ebebeb!important;
}
::-webkit-scrollbar { 
    display: none; 
}

.np-overflow {overflow-x: auto;background-color: #ebebeb!important;}
.np-overflow > .li-overflow{
    display: inline-block;
    float: none;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}
.np-overflow{
    background-color: #ebebeb!important;
}
.np-overflow .a-overflow{
    background-color: #707070!important;
    color:white!important;
    font-size: 18px;
    border-radius: 5px!important;
    white-space: nowrap;
}
.np-overflow .a-overflow.active{
    background-color: #0aaa4f!important;
    color:white!important;
    border-radius: 5px!important;
}
.np-overflow2 > .li-overflow2{
    display: inline-block;
    float: none;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
        width: 100%;
}
.np-overflow2 .a-overflow2{
    background-color: #707070!important;
    color:white!important;
    font-size: 18px;
    border-radius: 5px!important;
    width: '100%';
}
.np-overflow2 .a-overflow2.active{
    background-color: #0aaa4f!important;
    color:white!important;
    border-radius: 5px!important;
}
input.form-control.input-search{
    border-right: 0;
    padding-left: 55px;
    font-size: 18px!important;
    background-color: #fff;
    border:0;
    border-radius: 5px!important;
}
input.form-control.input-search::placeholder { 
    color: #dcdcdc;
}
input.form-control.input-search:focus{
    box-shadow: 0px 0px 5px 2px #e3e3e3;
}

.content{
    margin-top: 65px;
}
.rewards-card{
    border:none!important;
    background-color: white!important;
}
.vote{
    position: absolute;
    left:0!important;
    bottom: 1rem!important;
}
.point{
    position: absolute;
    right:1rem!important;
    bottom: 1rem!important;
}


.de-content{
    margin-bottom:200px;
}
.de-content2{
    margin-bottom:250px;
}



/* COUPON */
.recards-badge{
    background-color: #de2a2b;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    position: absolute;
    z-index: 1;
    top:-10px;
    right:-10px;
}
.coupon-ul .coupon-a{
    background-color: #707070!important;
    color:white!important;
    font-size: 18px;
    border-radius: 5px!important;
    white-space: nowrap;
    padding-left:20px;
    padding-right:20px;
}
.coupon-ul .coupon-a.active{
    background-color: #e1262d!important;
}

/* DETAIL */
.sweet-myshop {
    border-radius: 20px!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
}
.csweet-myshop{
    margin-top:30px!important;
    margin-bottom: 30px!important;
}
a.btn-selectsend{
    background-color: white!important; 
    border-color: #28a354!important; 
    color: #28a354!important; 
    font-size: 22px!important;
    box-shadow: none!important; 
}
a.btn-selectsend:hover{
    background-color: #0aaa4f!important;
    color: white!important;
}
a.btn-selectsend:active{
    background-color: #0aaa4f!important;
    color: white!important;
}
/* ADDRESS */
.address-card{
    border:none!important;
}
hr.address-hrtop{
    margin-top: .7rem!important;
    margin-bottom: .7rem!important;
}

/* BRANCH */
select.bsearch-select{
    background-color: white;
    color: #28a354; 
    box-shadow: none!important;
    border: none!important;
    text-align-last:center;
}
input.bsearch-input{
    background-color: white!important; 
    color: #28a354!important; 
    box-shadow: none!important;
    border: none!important;
    text-align-last:center;
}
input.bsearch-input::placeholder{
    color: #c9c9c9!important; 
}
input.address-input{
    background-color: white!important; 
    border-color: #28a354; 
    color: #28a354!important; 
    font-family: "PSL DB_Ozone_X";
}
input.address-input:focus{
    background-color: white!important; 
    border-color: #28a354!important; 
    color: #28a354!important; 
    border: 1px solid #28a354 !important; 
    box-shadow:none!important; 
}


/* EXCHANGE */
input.exchange-input{
    background-color: white!important; 
    border-color: #28a354!important; 
    color: #28a354!important; 
}


.list-group-item.search-listgitem {
    user-select: none;
    border:none;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: transparent;
    padding: none!important;
    padding: .75rem 2rem .75rem 0rem!important;
}

.list-group.search-list input[type="radio"] {
    padding: none!important;
    display: none;
}

.list-group.search-list input[type="radio"]:checked + .list-group-item.search-listgitem {
    background-color: transparent;
    color: #727272;
}
  
.list-group.search-list input[type="radio"]:checked + .list-group-item.search-listgitem:before {
    color: inherit;
    content: "•";
    color: transparent;
    font-weight: bold;
    margin-right: -1.5rem;
    margin-top: 1.5rem;
    float: right;
    transform: scale(4.5);
    color: #28a354!important; 
}






/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {
    
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
    .fix-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        padding-right: 15px;
        padding-left: 15px;
        background: #ebebeb!important;
    }
    .recards-img{
        width:100%;height: 120px;object-fit: cover;
    }
    .recards-txt{
        font-size:16px;
        line-height: 15px;
    }
    .recards-rate{
        width: 10px;
    }
    .recards-rate-txt{
        font-size:12px;
        margin-left: 3px;
    }
    .recards-btn-greenhalf{
        color: white;
        background: linear-gradient( -50deg, #37bf50, #37bf50 50%, white 50%, white 50%, #3ccd58 50% ); 
        border:none!important;
        font-size:12px;    
        padding-right: .7rem!important;
        padding-left: .7rem!important;
        padding-top: .3rem!important;
        padding-bottom: .3rem!important;
    }
    rect.cou-barcode{
        width: 20px!important;
    }
    .cou-relative{
        position: relative;
    }

    .col1-recards-txt{
        font-size:16px;
        line-height: 15px;
    }
    .col1-recards-rate{
        width: 10px;
    }
    .col1-recards-rate-txt{
        font-size:12px;
        margin-left: 3px;
    }
    .col1-recards-btn-greenhalf{
        color: white;
        background: linear-gradient( -50deg, #37bf50, #37bf50 50%, white 50%, white 50%, #3ccd58 50% ); 
        border:none!important;
        font-size:12px;    
        padding-right: .7rem!important;
        padding-left: .7rem!important;
        padding-top: .3rem!important;
        padding-bottom: .3rem!important;
    }
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .fix-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        padding-right: 15px;
        padding-left: 15px;
        background: #ebebeb!important;
    }
    .recards-img{
        width:100%;height: 140px;object-fit: cover;
    }
    .recards-txt{
        font-size:20px;
        line-height: 22px;
    }
    .recards-rate{
        width: 12px;
    }
    .recards-rate-txt{
        font-size:14px;
        margin-left: 5px;
    }
    .recards-btn-greenhalf{
        color: white;
        background: linear-gradient( -50deg, #37bf50, #37bf50 50%, white 50%, white 50%, #3ccd58 50% ); 
        border:none!important;
        font-size:16px;    
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }

    .col1-recards-txt{
        font-size:16px;
        line-height: 15px;
    }
    .col1-recards-rate{
        width: 10px;
    }
    .col1-recards-rate-txt{
        font-size:12px;
        margin-left: 3px;
    }
    .col1-recards-btn-greenhalf{
        color: white;
        background: linear-gradient( -50deg, #37bf50, #37bf50 50%, white 50%, white 50%, #3ccd58 50% ); 
        border:none!important;
        font-size:12px;    
        padding-right: .7rem!important;
        padding-left: .7rem!important;
        padding-top: .3rem!important;
        padding-bottom: .3rem!important;
    }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .fix-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        padding-right: 15px;
        padding-left: 15px;
        background: #ebebeb!important;
    }
    .recards-img{
        width:100%;height: 160px;object-fit: cover;
    }
    .recards-txt{
        font-size:20px;
        line-height: 22px;
    }
    .recards-rate{
        width: 14px;
    }
    .recards-rate-txt{
        font-size:16px;
        margin-left: 4px;
    }
    .recards-btn-greenhalf{
        color: white;
        background: linear-gradient( -50deg, #37bf50, #37bf50 50%, white 50%, white 50%, #3ccd58 50% ); 
        border:none!important;
        font-size:16px;    
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    .col1-recards-txt{
        font-size:16px;
        line-height: 15px;
    }
    .col1-recards-rate{
        width: 10px;
    }
    .col1-recards-rate-txt{
        font-size:12px;
        margin-left: 3px;
    }
    .col1-recards-btn-greenhalf{
        color: white;
        background: linear-gradient( -50deg, #37bf50, #37bf50 50%, white 50%, white 50%, #3ccd58 50% ); 
        border:none!important;
        font-size:12px;    
        padding-right: .7rem!important;
        padding-left: .7rem!important;
        padding-top: .3rem!important;
        padding-bottom: .3rem!important;
    }
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */
    .fix-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        padding-right: 39px;
        padding-left: 39px;
        background: #ebebeb!important;
    }
    .recards-img{
        width:100%;height: 135px;object-fit: cover;
    }
    .recards-txt{
        font-size:16px;
        line-height: 16px;
    }
    .recards-rate{
        width: 10px;
    }
    .recards-rate-txt{
        font-size:12px;
        margin-left: 3px;
    }
    .recards-btn-greenhalf{
        color: white;
        background: linear-gradient( -50deg, #37bf50, #37bf50 50%, white 50%, white 50%, #3ccd58 50% ); 
        border:none!important;
        font-size:12px;    
        padding-right: .7rem!important;
        padding-left: .7rem!important;
    }
    .col1-recards-txt{
        font-size:28px;
        line-height: 25px;
    }
    .col1-recards-rate{
        width:20px;
    }
    .col1-recards-rate-txt{
        font-size:20px;
        margin-left: 10px;
    }
    .col1-recards-btn-greenhalf{
        color: white;
        background: linear-gradient( -50deg, #37bf50, #37bf50 50%, white 50%, white 50%, #3ccd58 50% ); 
        border:none!important;
        font-size:24px;    
        padding-right: 1rem!important;
        padding-left: 1rem!important;
        padding-top: .5rem!important;
        padding-bottom: .5rem!important;
    }
}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */
    .fix-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        padding-right: 47px;
        padding-left: 47px;
        background: #ebebeb!important;
    }
    .recards-img{
        width:100%;height: 185px;object-fit: cover;
    }
    .recards-txt{
        font-size:20px;
        line-height: 22px;
    }
    .recards-rate{
        width: 14px;
    }
    .recards-rate-txt{
        font-size:16px;
        margin-left: 4px;
    }
    .recards-btn-greenhalf{
        color: white;
        background: linear-gradient( -50deg, #37bf50, #37bf50 50%, white 50%, white 50%, #3ccd58 50% ); 
        border:none!important;
        font-size:16px;    
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    .col1-recards-txt{
        font-size:36px;
        line-height: 35px;
    }
    .col1-recards-rate{
        width:25px;
    }
    .col1-recards-rate-txt{
        font-size:28px;
        margin-left: 20px;
    }
    .col1-recards-btn-greenhalf{
        color: white;
        background: linear-gradient( -50deg, #37bf50, #37bf50 50%, white 50%, white 50%, #3ccd58 50% ); 
        border:none!important;
        font-size:28px;    
        padding-right: 2rem!important;
        padding-left: 2rem!important;
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
        line-height: 30px!important;
    }
}

.click-search{ position: absolute; top: 74px; right: 20px; color: #ebebeb;}
#loading { height: 100vh; background: #fff; width: 100%;}
.content_class img {
    width: 150px;
    display: inline-block;
    position: relative;
}
.content_class{
    text-align: center;
    position: absolute;
    top: 38%;
    right: 0;
    left: 0;
    margin-left: 0;
    margin-right: 0;
}
.fix-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: #ebebeb!important;
  }
  .heigh-footer{
    height: 100px;
    background-color: #ebebeb!important;
  }
  .LazyLoad:not(.is-visible) {
    background: url(/images/lazy-loading.gif) 50% 50% no-repeat #f9f9f9;
    height: 230px;
}
.in-container .LazyLoad:not(.is-visible) {
    background: url(/images/lazy-loading.gif) 50% 50% no-repeat #f9f9f9;
    height: 90px;
}
.res-popup{ font-size: 18px;}
.iconClose{ float: right; position: absolute; right: 25px; top: 0; margin-top: 25px; }
.sizeCloseBtn{ font-size: 20px; }
.font-color-red{ color: red; }