html, body {height: 100%;margin: 0;}
body {
  font-family: "PSL DB_Ozone_X"!important;
  background-color: #ebebeb!important;
}

/* Font DB_Ozone_X */
@font-face {  
	font-family: "PSL DB_Ozone_X"; 
  src: url(../fonts/DB_Ozone_X.ttf)  format("truetype");
}
/* Font DB_Ozone_X Bold */
@font-face {  
	font-family: "PSL DB_Ozone_X Bold"; 
  src: url(../fonts/DB_Ozone_X_Bd.ttf)  format("truetype");
}

.t-18{font-size:18px!important;}
.t-20{font-size:20px!important;}
.t-22{font-size:22px!important;}
.t-24{font-size:24px!important;}
.t-28{font-size:28px!important;}
.t-30{font-size:30px!important;}

/* Text no bottom line */
a{text-decoration: none!important;}
.t-bold{font-family: "PSL DB_Ozone_X Bold"!important;}
.t-dark{color:#212529!important;}
.t-red{color:red!important;}
.t-green{color:#2b6d43!important;}
.t-greenwhite{color :#28a354!important;}
.t-gray{color: #727272!important;}
.t-graywhite{color: #c9c9c9!important;}

.t-limit-2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.t-limit-3{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.txth-15{
  line-height: 15px;
}
.txth-20{
  line-height: 20px;
}
.txth-22{
  line-height: 22px;
}
.txth-25{
  line-height: 25px;
}

a.btn-green{
  background-color: #0aaa4f;
  color: white!important;
  box-shadow: none!important;
}
button.btn-green{
  background-color: #0aaa4f;
  color: white;
  box-shadow: none!important;
}
button.btn-gray{
  background-color: #cccccc;
  color: white;
  box-shadow: none!important;
}
button.btn-greenhalf{
  color: white;
  background: linear-gradient( -50deg, #37bf50, #37bf50 50%, white 50%, white 50%, #3ccd58 50% ); 
  border:none!important;
  box-shadow: none!important;
}
button.btn-greendark{
  background-color: #0c7439;
  color: white!important;
  box-shadow: none!important;
}
a.btn-greendark{
  background-color: #0c7439;
  color: white!important;
  box-shadow: none!important;
}
button.btn-white{
  background-color: white;
  color: #c9c9c9;
  box-shadow: none!important; 
}

input.icon-search-gray{
  background: url("../../images/icon/icon_FAQ_seach@3x.png") no-repeat right;
  background-size: 20px;
  background-position-x: 4%;
  padding-left: 50px;
  -webkit-appearance: none;
}
a.icon-search-gray-right{
  background: url("../../images/icon/icon_seach@3x.png") no-repeat right;
  background-size: 15px;
  background-position-x: 95%;
  -webkit-appearance: none;
  background-color: white;
  color: #c9c9c9!important; 
  box-shadow: none!important; 
}
input.icon-search-gray-right{
  background: url("../../images/icon/icon_seach@3x.png") no-repeat right;
  background-size: 15px;
  background-position-x: 95%;
  -webkit-appearance: none;
}
select.arrow-down-black {
  background: url("../../images/icon/icon_arrow_down@3x.png") no-repeat right;
  background-position-x: 95%;
  padding-right: 40px;
  background-size: 20px;
  -webkit-appearance: none;
}

.btn-sweetalert-green{
  background-color: #28a354!important;
  border: none!important;
  box-shadow: none!important; 
}
.btn-sweetalert-danger{
  background-color: red!important;
  border: none!important;
  box-shadow: none!important; 
}

/* Loading */
.loader {
  border: 5px solid white;
  border-radius: 50%;
  border-top: 5px solid #28a354;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.errorFocus { border: 1px solid #e2262c !important; box-shadow: none !important; }
.errorMsg { margin-top: 10px; color: #e2262c;}
