/* .navbar-item {
  font-weight: 700;
}
.btn-default:hover {
  background-color: #fff
}
.title,
.page-title {
	font-weight: 700;
	margin-bottom: 1rem;
}
.navbar-brand { display: inline-flex; }
div.dataTables_wrapper div.dataTables_filter { 
  float:left;
  margin-left: 0px;
}
.page-header {
  background-color: #f5f5f5;
}
.navbar {
  border-radius: 0px;
}
.navbar-default, .navbar-collapse {
  background-color: #fff;
}
.page-header.page-header-dark {
  background-color: #273246;
  color: #fff;
  margin-bottom: 1.25rem;
}

table.dataTable { width: 100% !important; }

.errorMsg {
  margin-top: 10px;
  font-weight: 600;
  color: #f20;
}

.fileinput-upload-button {
  display: none;
} */